$font-text: Arial,
Helvetica,
sans-serif;
$backgroup-red: #CA2026;
$backgroup-mauchu: #494D52;

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-big: 1280px;
@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}
@mixin mb-tl {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-big}) {
        @content;
    }
}
@mixin desktop-big {
    @media (min-width: #{$desktop-width}) and (max-width: #{$desktop-big - 1px}) {
        @content;
    }
}

.titletext {
    padding-bottom: 18px;
    p {
        font: {
            weight: bold;
            family: $font-text;
            size: 30px;
        }

        @include mobile {
            font: {
                size: 19px;
            }
        }
        @include desktop-big{
            font-size: 25px;
        }
        color: $backgroup-mauchu;
        line-height: 139.99%;
    }

    ul {
        display: flex;
        padding-top: 15px;
        padding-bottom: 20px;
        border-bottom: 1px solid #E2E2E2;

        @include mb-tl {
            display: block;
            line-height: 2;
        }

        li {
            color: $backgroup-mauchu;
            font-size: 16px;
            font-family: $font-text;
            border-right: 1px solid$backgroup-mauchu;
            padding: 0 13px 0 13px;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
                border: none;
            }

            @include mb-tl {
                border: none;
                padding-left: 0;
            }

            @include tablet {
                font-size: 14px;
            }
            @include desktop-big{
                font-size: 13px;
            }
        }
    }
}

.detail-td {
    padding-bottom: 30px;
    border-bottom: 1px solid #E3E0E4;

    .motacv {
        p {
            line-height: 140.49%;
            font-family: $font-text;
            font-style: normal;
            font-weight: bold;
            padding-bottom: 20px;

            &:first-child {
                font-size: 21px;
                color: $backgroup-red;
            }
        }

        span {
            display: block;
            font-family: Arial;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 140.49%;
            color: $backgroup-mauchu;
            padding-bottom: 20px;
            padding-left: 25px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 6px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #646464;
            }
        }
    }

    .utnow {
        @include mobile {
            display: flex;
            justify-content: center;
        }

        .btn-utnow {
            background: $backgroup-red;
            border-radius: 39px;
            font-family: $font-text;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 130.49%;
            display: flex;
            align-items: center;
            text-align: center;
            padding: 12px 24px;
            color: #FFFFFF;
            margin-top: 25px;
            transition: all 0.8s;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}

.title-right {
    width: 100%;
    height: 60px;
    line-height: 60px;

    p {
        background: $backgroup-red;
        font-family: $font-text;
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        color: #FFFFFF;
        @include desktop-big{
            font-size: 16px;
        }
    }
}

.detail-khac {
    padding: 20px 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid #E2E2E2;

    .khung-date {
        width: 70px;
        height: 68px;
        background: #EBEBEB;
        border-radius: 5px;
        color: $backgroup-mauchu;
        text-align: center;
        padding: 9px;
        line-height: 26px;

        p {
            font: {
                weight: bold;
                family: $font-text;
                size: 28px;
            }
        }

        span {
            font-family: $font-text;
            font-size: 12px;
        }
    }

    .intro {
        @include mobile {
            padding-left: 0px;
        }
        @include desktop-big{
            padding-left: 30px;
        }
        p {
            font-family: $font-text;
            font-weight: bold;
            line-height: 22px;
            color: $backgroup-mauchu;
            @include desktop-big{
                font-size: 13px;
            }
        }

        span {
            font-family: $font-text;
            line-height: 25px;
            color: $backgroup-mauchu;
            @include desktop-big{
                font-size: 13px;
            }
        }

    }
}