$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px; 
    @mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
        @content;   
        } 
    } 
    @mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
        @content;   
        } 
    }  

    @mixin desktop {   @media (min-width: #{$desktop-width}) {     
        @content;  
        } 
    }

.titletext{
    padding-bottom: 18px;
    p{
        font: {
            weight: bold;
            family:Arial;
            size: 30px;        
        }
        @include mobile{
            font: {
                size: 19px;
            }
        }
        color: #494D52;
        line-height: 139.99%;
    }
}
.item-group{
    display: flex;
    align-items: center;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    padding: 7px 0;
    .item-number{
        width: 70px;
        height: 68px;
        background: #CA2026;
        border-radius: 5px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;    
        p{
            font: {
                weight: bold;
                family: Arial, Helvetica, sans-serif;
                size: 28px;
            }
        }
        span{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }
        @include mobile{
            width: 160px;
        }
    }
    span{
        padding-left: 25px;
        font-size: 18px;
        font-family: Arial;
        color: #494D52;
        flex-grow: 1;
        @include mobile{
            line-height: 23px;
            padding-left: 10px;
        }
    }
    .btn-show{
        background-color: #EBEBEB;
        &:focus{
            box-shadow: none;
        }
    }
}

.category{
    ul{
        li{
            display: block;
            padding: 13px 0;
            border-bottom:  1px solid #D0D0D0;
            &:hover{
                font-weight: bold;
            }
            span{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16pxx;
            }
            .show-right{
                float: right;
                cursor: pointer;
            }
            ul{
                background: #F3F3F3;
                margin-top: 15px;
                padding: 11px 11px;
                border-top: 4px solid #CA2026;
                li{
                    font-weight: normal;
                    border-bottom: none;
                    a{
                        color: #494D52;
                        padding-left: 15px;
                    }
                    span{
                        color:  #494D52;;
                    }
                    &:hover{
                        a,span{
                            color: #CA2026;
                        }
                    }
                }
            }
        }
    }
}

.phantrang{
    padding: 15px;
    display: flex;
    justify-content: center;
    .page-item{
        margin-right: 7px;
        
        &:last-child{
            margin-right: 0;
        }
        .page-link{
            color: #00387A;
            border: 1px solid #C4C4C4;
            &:focus{
                background: #00387A;
                color: #fff;
                box-shadow: none;
            }
        }
    }
}