@font-face {
	font-family: ApscArial;
	src: url(../fonts/Arial/ArialUnicodeMS.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
}

input, input:focus {
	outline: none;
}

:root {
	/* Font family */
	--primary-font-family: ApscArial;
	--secondary-font-family: Roboto;
	/* Color */
	--primary-text-color: #494D52;
	--secondary-text-color: #CA2026;
	--primary-color: #00387A;
	--secondary-color: #2979D8;
	--light-secondary-color: #5CA7FF;
	--footer-bg-color: #E7E7E7;
	--mb-menu-background: #000E32;
	--mb-menu-lv1-color: #071F5D;
	--mb-menu-lv2-color: #0E1F4D;
	--mb-menu-lv3-color: #0A173A;
}


@media (min-width: 1400px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1320px;
	}
}

@media (min-width: 1600px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1530px;
	}
}

@media (min-width: 1920px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1840px;
	}
}

[class^="icons-"],
[class*="icons-"] {
	background-image: url(../img/icons.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 20px;
	width: 20px;
	line-height: 20px;
	vertical-align: middle;
	background-size: 150px 150px !important;
}

.icons-search {
	background-position: -4px -2px;
    width: 17px;
    height: 18px;
	display: inline-block;
	margin-right: 14px;
	margin-left: 14px;
}

.icons-logo {
	background-position: -29px -4px;
    width: 18px;
    height: 16px;
    display: inline-block;
    margin-right: 6px;
}

/* header */
.header {
	position: relative;
	background-color: #F0F0F0;
}

.header::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 60%;
	background-color: var(--primary-color);
	bottom: 0;
	left: 0;
}

.header .app-nav {
	padding-bottom: 0;
	align-items: flex-end;
}

.header .navbar-brand {
	position: relative;
	padding: .315rem;
	background-color: #fff;
}

.header .navbar-brand::before,
.header .navbar-brand::after  {
	content: "";
	position: absolute;
	background-color: #fff;
	width: 0;
	height: 0;
	top: 0;
	z-index: 0;
}

.header .navbar-brand::before {
	border-top: 24px solid #F0F0F0;
	border-right: 13px solid #6B6B6B;
	left: -13px;
}

.header .navbar-brand::after {
	border-top: 24px solid #F0F0F0;
	border-left: 13px solid #6B6B6B;
	right: -13px;
}

.header .navbar-nav .nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .navbar-nav .nav-link {
	font: normal normal 14px/18px var(--primary-font-family);
	color: #fff;
	text-transform: uppercase;
	max-height: 48px;
	padding: 1rem;
}

.header .navbar-nav .nav-item:hover .nav-link,
.header .navbar-nav .nav-item:active .nav-link,
.header .navbar-nav .nav-item.active .nav-link {
	background-color: #fff;
	color: var(--primary-color);
}

.header .navbar-nav .submenu.mega-submenu {
    display: block;
    position: absolute;
    top: 65px;
    left: 0px;
    width: 100%;
    background-color: #fff;
	padding: 2rem 2.5rem;
	transition: .5s;
	visibility: hidden;
	opacity: 0;
	z-index: 10;
}

.header .navbar-nav .nav-item:hover .submenu.mega-submenu {
	top: 80px;
	visibility: visible;
	opacity: 1;
}

.header .navbar-nav .submenu.mega-submenu > ul{
	display: flex;
	justify-content: space-between;
}

.header .navbar-nav .submenu.mega-submenu > ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	font: normal normal 16px/18px var(--primary-font-family);
}

/* .header .navbar-nav .submenu.mega-submenu > ul > li {
	flex: auto;
} */

.header .navbar-nav .submenu.mega-submenu > ul > li > a{
	line-height: 22px;
	color: var(--secondary-text-color);
	text-transform: uppercase;
	padding-bottom: 9px;
	margin-bottom: 14px;
	border-bottom: 1px solid #E2E2E2;
	display: inline-block;
}

.header .navbar-nav .submenu.mega-submenu .submenu-lv2 a{
	font: normal normal 16px/18px var(--primary-font-family);
	display: flex;
	align-items: center;
	color: var(--primary-text-color);
	margin-bottom: 12px;
}

.header .navbar-nav .submenu.mega-submenu .submenu-lv2 a > i{
	font-size: 12px;
}

.header .navbar-nav .submenu.mega-submenu > li.menu-opened-l1 a > i{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 48px;
}

.header .navbar-nav .submenu.mega-submenu > ul > li:not(.menu-opened-l1) a > i{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.header .navbar-nav .submenu.mega-submenu .submenu-lv3 a > i{
	margin-right: 6px;
}

.nav-item .select-item select:focus,
.nav-item .select-item select:focus-within,
.nav-item .select-item select{
	background-color: transparent;
	outline: none;
	border: unset;
	border-radius: 0;
	font: normal normal 16px/18px var(--primary-font-family);
	color: #fff;
}

.nav-item .select-item select option {
	color: #333;
}

.navbar-dark .navbar-toggler {
	color: #fff;
	border: unset;
	margin-bottom: 18px;
}

.navbar-dark .navbar-toggler:focus {
	outline: none;
}

.app-nav .nav-item .search-form {
	position: absolute;
	right: 0;
	bottom: -68px;
	z-index: 1000;
	padding: 1rem;
	background-color: #fff;
	box-shadow: 0 0 16px rgba(0, 0, 0, .15);
}

.app-nav .nav-item .search-form div {
	border: 1px solid #0A4A86;
	display: flex;
	justify-content: center;
	align-items: center;
}

.app-nav .nav-item .search-form input {
	outline: 0;
	border: unset;
	background-color: #fff;
	padding: .5rem;
	min-width: 250px;
}

.app-nav .nav-item .search-form a {
	outline: 0;
	border: unset;
	background-color: #0A4A86;
	color: #fff;
	text-decoration: #fff;
	height: 34px;
	width: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-dark .navbar-toggler {
	padding-right: 0;
}

@media (min-width: 992px) {
	.header .navbar-nav .nav-item .nav-link > i {
		display: none; 
	}

	.submenu.mega-submenu > ul > li > a > i {
		display: none;
	}
}

@media (max-width: 991.98px) {
	.header::before {
		height: 100%;
		background-color: #fff;
	}

	.header .navbar-brand::before,
	.header .navbar-brand::after {
		border: unset;
	}

	.navbar-dark .navbar-toggler-icon {
		background-image: url(../img/hamberger.svg);
	}

	.app-nav {
		padding-top: 0;
	}

	.app-nav .nav-pop {
		position: absolute;
		top: 72px;
		width: 100%;
		left: 0;
		z-index: 999;
		background-color: var(--mb-menu-background);
		padding: 18px;
		min-height: 100vh;
	}

	.header .navbar-nav .nav-item .nav-link {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.icons-search {
		display: none;
	}

	.app-nav .nav-item .search-form.d-none {
		display: block !important;
		padding: 0 !important;
		top: -54px;
		bottom: unset !important;
		right: 10% !important;
		background-color: unset;
		box-shadow: unset;
	}

	.app-nav .nav-item .search-form div {
		border: 1px solid #CBCBCB;
		box-sizing: border-box;
		border-radius: 5000px;
		overflow: hidden;
		background-color: transparent;
	}

	.app-nav .nav-item .search-form a {
		background-color: #fff;
		color: var(--primary-text-color);
	}

	.app-nav .nav-item .search-form input {
		min-width: 180px;
		width: 100%;
	}

	.header .navbar-nav .nav-item {
		display: block;	
	}

	.header .navbar-nav .nav-item.menu-opened .nav-link > i {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 11px;
		height: 48px;
		width: 40px;
	}

	.header .navbar-nav .nav-item:not(.menu-opened) .nav-link > i {
		display: unset;
		position: absolute;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	.header .navbar-nav .nav-item:not(.menu-opened) .nav-link > i::before {
		margin-right: 1rem;
	}

	.header .navbar-nav .nav-item:hover .nav-link, 
	.header .navbar-nav .nav-item:active .nav-link, 
	.header .navbar-nav .nav-item.active .nav-link,
	.header .navbar-nav .nav-item .nav-link {
		background: var(--mb-menu-lv1-color);
		position: relative;
		color: #fff;
		margin-bottom: 1px;
		text-transform: unset;
		padding-right: unset;
	}

	.app-nav .nav-item .submenu.mega-submenu {
		position: unset;
		opacity: 1;
		visibility: visible;
		padding: 0;
		transition: unset;
	}

	.header .navbar-nav .submenu.mega-submenu > ul {
		display: block;
	}

	.header .navbar-nav .submenu.mega-submenu > ul > li > a {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 1rem;
		font-size: 14px;
		line-height: 16px;
		padding-left: 2rem;
		background: var(--mb-menu-lv2-color);
		color: #fff;
		text-transform: unset;
		margin-bottom: unset;
		border-bottom: 1px solid var(--mb-menu-background);
	}

	.header .navbar-nav .submenu.mega-submenu > ul > li > a > i {
		font-size: 11px;
	}

	.header .navbar-nav .submenu.mega-submenu,
	.header .navbar-nav .submenu.mega-submenu .submenu-lv2,
	.header .navbar-nav .submenu.mega-submenu .submenu-lv3 {
		height: 0;
		opacity: 0;
		visibility: hidden;
	}

	.header .navbar-nav .submenu.mega-submenu .submenu-lv2 > ul > li > a{
		position: relative;
		background-color: var(--mb-menu-lv3-color);
		padding: 1rem;
		color: #fff;
		font-size: 14px;
		line-height: 16px;
		padding-left: 3rem;
		width: 100%;
		margin-bottom: unset;
		border-bottom: 1px solid var(--mb-menu-background);
	}

	.header .navbar-nav .submenu.mega-submenu .submenu-lv3 > ul > li > a {
		position: relative;
		background-color: var(--mb-menu-lv3-color);
		padding: 1rem;
		font-size: 14px;
		line-height: 16px;
		color: #fff;
		padding-left: 4rem;
		width: 100%;
		margin-bottom: unset;
		border-bottom: 1px solid var(--mb-menu-background);
	}

	.header .navbar-nav .submenu.mega-submenu .submenu-lv3 > ul > li > a i {
		display: none;
	}

	.header .navbar-nav .nav-item.menu-opened > .submenu.mega-submenu{
		height: unset;
		opacity: 1;
		visibility: visible;
	}

	.header .navbar-nav .submenu.mega-submenu .menu-opened-l1 > .submenu-lv2{
		height: unset;
		opacity: 1;
		visibility: visible;
	}

	.header .navbar-nav .submenu.mega-submenu .menu-opened-l2 > .submenu-lv3{
		height: unset;
		opacity: 1;
		visibility: visible;
	}
}

@media (max-width: 991.98px) {
	.app-nav .nav-item .search-form {
		width: 40%;
	}

	.app-nav .nav-item .search-form a {
		padding-right: 8px;
	}

	.app-nav .nav-item .search-form.d-none {
		right: 12% !important;
	}
}

@media (max-width: 576.98px) {
	.header .navbar-brand {
		width: 70px;
		overflow: hidden;
	}

	.app-nav .nav-item .search-form {
		width: 50%;
	}

	.app-nav .nav-item .search-form input{
		width: 100%;
		min-width: unset;
	}

	.app-nav .nav-item .search-form a {
		padding-right: 8px;
	}

	.app-nav .nav-item .search-form.d-none {
		right: 70px !important;
	}

	.app-nav .nav-pop {
		left: -15px;
		width: calc(100% + 30px);
		/* height: calc(100vh - 72px);
		overflow-x: scroll; */
	}
}
/* end header */

/* home */
.home-slider {
	position: relative;
	padding-bottom: 60px;
}

.home-slider .home-nav {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 9;
}

.home-slider .home-nav .nav {
	flex-wrap: wrap;
}

.home-slider .home-nav .nav li {
	flex: auto;
	text-align: center;
}

.home-slider .home-nav .nav .nav-item {
	border: 1px solid #DBDBDB;
	border-top: unset;
	border-bottom: unset;
	background-image: url(../img/navbg.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center center;
} 

.home-slider .home-nav .nav .nav-link {
	position: relative;
	padding: 55px 0 32px;
}

.home-slider .home-nav .nav .nav-link h6 {
	font: normal bold 16px/22px var(--primary-font-family);
	color: var(--primary-color);
	margin-bottom: 10px;
}

.home-slider .home-nav .nav .nav-link p {
	font: normal normal 16px/22px var(--primary-font-family);
	color: #666565;
}

.home-slider .home-nav .nav .nav-link .img-container {
	position: absolute;
	top: -35px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 70px;
	height: 70px;
	background-color: #fff;
	border-radius: 5000px;
	overflow: hidden;
}

.home-slider .home-nav .nav .nav-link .img-container img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

.home-catalog-slider {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	padding-top: 60px;
	padding-bottom: 60px;
}

.home-catalog-carousel .item.img-container {
	display: block;
	height: 0;
	padding-top: 120%;
	position: relative;
	overflow: hidden;
}

.home-catalog-carousel .item.img-container img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: 100%;
	transition: .6s;
}

.home-catalog-carousel .item.img-container .item-tilte {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 20%;
	bottom: 0;
	left: 0;
	background-color: #fff;
	transition: .3s;
}

.home-catalog-carousel .item.img-container .item-tilte * {
	font: normal normal 18px/25px var(--primary-font-family);
	text-align: center;
	color: var(--primary-text-color);
	transition: .3s;
}

/* .home-catalog-carousel .item.img-container:hover {
	box-shadow: 1px 1px 1px 1px #f0f0f0;
} */

.home-catalog-carousel .item.img-container:hover img {
	transform: translate(-50%, -50%) scale(1.2);
}

.home-catalog-carousel .item.img-container:hover .item-tilte {
	background-color: var(--secondary-text-color);
}

.home-catalog-carousel .item.img-container:hover .item-tilte * {
	color: #fff;
}

@media (max-width: 991.98px) {
	.home-slider {
		padding-bottom: 40px;
	}
	.home-slider .home-nav {
		position: unset;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 9;
	}

	.home-slider .home-nav .nav .nav-link .img-container {
		z-index: 8;
	}
}

@media (max-width: 575.98px) {
	.home-slider .home-nav .nav {
		display: block;
	}

	.home-slider .home-nav .nav .nav-item {
		margin-top: 50px;
	}

	.home-slider .home-nav .nav .nav-link .img-container {
		box-shadow: 0px 0px 5px 0px var(--secondary-text-color);
	}
}
/* end home */

/* footer */
.footer {
	background-color: var(--footer-bg-color);
}

.footer-top {
	padding-top: 26px;
	padding-bottom: 21px;
}

.footer-top .img-container{
	margin-bottom: 17px;
}

.footer-top p,
.footer-top strong {
	font: normal normal 16px/24px var(--primary-font-family);
	color: var(--primary-text-color);
}

.footer-top .f-identity strong {
	display: inline-block;
	margin-bottom: 10px;
	font-weight: bold;
}

.footer-top .f-identity p {
	width: 75%;
}

.footer-top .footer-title {
	font: normal bold 16px/18px var(--primary-font-family);
	color: var(--primary-text-color);
	border-bottom: 1px solid var(--secondary-text-color);
	text-align: center;
	margin-bottom: 18px;
}

.footer-top .footer-title img {
	margin-bottom: -8px;
	margin-right: 20%;
}

.footer-top .footer-title span {
	display: inline-block;
	padding-bottom: 4px;
}

.footer-top .f-phone a {
	display: block;
	text-align: center;
	font: normal normal 16px/18px var(--primary-font-family);
	letter-spacing: 3px;
	color: var(--primary-text-color);
}

.footer-top .f-email {
	position: relative;
}

.footer-top .f-email a {
	display: block;
	text-align: center;
	font: normal normal 16px/18px var(--primary-font-family);
	letter-spacing: 3px;
	color: var(--primary-text-color);
}

.footer-top .f-email a.footer-button {
	position: absolute;
	bottom: 0;
	width: 75%;
	left: 50%;
	letter-spacing: normal;
	transform: translate(-50%, 0);
	padding: 12px 38px;
	background-color: var(--secondary-text-color);
	color: #fff;
	border-radius: 5000px;
}

@media (max-width: 1399.98px) {
	.footer-top .f-email a.footer-button {
		width: calc(100% - 30px);
	}
}

@media (max-width: 991.98px) {
	.footer-top .f-email a.footer-button {
		position: unset;
		left: 0;
		transform: unset;
		margin-top: 20px;
		width: 100%;
	}
}

.footer-bottom {
	font: normal normal 14px/16px var(--primary-font-family);
	color: #676767;
	text-align: center;
	padding: 12px 0;
	border-top: 1px solid #fff;
}
/* end footer */