@font-face {
	font-family: ApscArial;
	src: url(../fonts/Arial/ArialUnicodeMS.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
}

input,
input:focus {
	outline: none;
}

:root {
	/* Font family */
	--primary-font-family: ApscArial;
	--secondary-font-family: Roboto;
	/* Color */
	--primary-text-color: #494D52;
	--secondary-text-color: #CA2026;
	--primary-color: #00387A;
	--secondary-color: #2979D8;
	--light-secondary-color: #5CA7FF;
	--footer-bg-color: #E7E7E7;
	--mb-menu-background: #000E32;
	--mb-menu-lv1-color: #071F5D;
	--mb-menu-lv2-color: #0E1F4D;
	--mb-menu-lv3-color: #0A173A;
}


@media (min-width: 1400px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1320px;
	}
}

@media (min-width: 1600px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1530px;
	}
}

@media (min-width: 1920px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1840px;
	}
}

[class^="icons-"],
[class*="icons-"] {
	background-image: url(../img/icons.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 20px;
	width: 20px;
	line-height: 20px;
	vertical-align: middle;
	background-size: 150px 150px !important;
}

.icons-search {
	background-position: -4px -2px;
	width: 17px;
	height: 18px;
	display: inline-block;
	margin-right: 14px;
	margin-left: 14px;
}

.icons-logo {
	background-position: -29px -4px;
	width: 18px;
	height: 16px;
	display: inline-block;
	margin-right: 6px;
}

.icons-clock {
	background-position: -54px -5px;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 10px;
}

.icons-clock_gray {
	background-position: -3px -25px;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 4px;
}

.icons-next {
	background-position: -112px -5px;
	width: 27px;
	height: 13px;
	display: inline-block;
}

.icons-prev {
	background-position: -77px -5px;
	width: 27px;
	height: 13px;
	display: inline-block;
}

.icons-arrow {
	background-position: -57px -27px;
	width: 20px;
	height: 10px;
	display: inline-block;
	margin-left: 12px;
}

.icons-downloadable {
	background-position: -4px -46px;
	width: 18px;
	height: 18px;
	display: inline-block;
}

.img-container {
	display: inline-block;
	width: 100%;
}

.img-container img {
	width: 100%;
	height: auto;
}

/* header */
.header {
	position: relative;
	background-color: #F0F0F0;
}

.header::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 60%;
	background-color: var(--primary-color);
	bottom: 0;
	left: 0;
}

.header .app-nav {
	padding-bottom: 0;
	align-items: flex-end;
}

.header .navbar-brand {
	position: relative;
	padding: .315rem;
	background-color: #fff;
}

.header .navbar-brand::before,
.header .navbar-brand::after {
	content: "";
	position: absolute;
	background-color: #fff;
	width: 0;
	height: 0;
	top: 0;
	z-index: 0;
}

.header .navbar-brand::before {
	border-top: 24px solid #F0F0F0;
	border-right: 13px solid #6B6B6B;
	left: -13px;
}

.header .navbar-brand::after {
	border-top: 24px solid #F0F0F0;
	border-left: 13px solid #6B6B6B;
	right: -13px;
}

.header .navbar-nav .nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .navbar-nav .nav-link {
	font: normal normal 14px/18px var(--primary-font-family);
	color: #fff;
	text-transform: uppercase;
	max-height: 48px;
	padding: 1rem;
}

.header .navbar-nav .nav-item:hover .nav-link,
.header .navbar-nav .nav-item:active .nav-link,
.header .navbar-nav .nav-item.active .nav-link {
	background-color: #fff;
	color: var(--primary-color);
}

.header .navbar-nav .submenu.mega-submenu {
	display: block;
	position: absolute;
	top: 65px;
	left: 0px;
	width: 100%;
	background-color: #fff;
	padding: 2rem 2.5rem;
	transition: .5s;
	visibility: hidden;
	opacity: 0;
	z-index: 10;
}

@media(min-width: 992px) {
	.header .navbar-nav .nav-item:hover .submenu.mega-submenu {
		top: 80px;
		visibility: visible;
		opacity: 1;
	}
}

.header .navbar-nav .submenu.mega-submenu>ul {
	display: flex;
	justify-content: space-between;
}

.header .navbar-nav .submenu.mega-submenu>ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	font: normal normal 16px/18px var(--primary-font-family);
}

/* .header .navbar-nav .submenu.mega-submenu > ul > li {
	flex: auto;
} */

.header .navbar-nav .submenu.mega-submenu>ul>li>a {
	position: relative;
	line-height: 22px;
	color: var(--secondary-text-color);
	text-transform: uppercase;
	padding-bottom: 9px;
	margin-bottom: 14px;
	border-bottom: 1px solid #E2E2E2;
	display: inline-block;
}

.header .navbar-nav .submenu.mega-submenu .submenu-lv2 a {
	font: normal normal 16px/18px var(--primary-font-family);
	position: relative;
	display: flex;
	align-items: center;
	color: var(--primary-text-color);
	margin-bottom: 12px;
}

.header .navbar-nav .submenu.mega-submenu .submenu-lv2 a>i {
	font-size: 11px;
}

.header .navbar-nav .submenu.mega-submenu .submenu-lv2 a>i.lv3 {
	margin-left: auto;
}

@media (max-width: 991.98px) {
	.header .navbar-nav .submenu.mega-submenu>li.menu-opened-l1 a>i {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 48px;
	}

	.header .navbar-nav .submenu.mega-submenu>ul>li:not(.menu-opened-l1) a>i {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.submenu-lv2>ul>li:not(.menu-opened-l2)>a>i.lv3 {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 12px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		padding-right: 1rem;
		height: 100%;
	}

	.submenu-lv2>ul>li.menu-opened-l2>a>i.lv3 {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 48px;
	}

	.submenu-lv2>ul>li.menu-opened-l2>a>i.lv3::before {
		content: "\f077";
	}
}

.header .navbar-nav .submenu.mega-submenu .submenu-lv3 a>i {
	margin-right: 6px;
}

.nav-item .select-item select:focus,
.nav-item .select-item select:focus-within,
.nav-item .select-item select {
	background-color: transparent;
	outline: none;
	border: unset;
	border-radius: 0;
	font: normal normal 16px/18px var(--primary-font-family);
	color: #fff;
}

.nav-item .select-item select option {
	color: #333;
}

.navbar-dark .navbar-toggler {
	color: #fff;
	border: unset;
	margin-bottom: 18px;
}

.navbar-dark .navbar-toggler:focus {
	outline: none;
}

.app-nav .nav-item .search-form {
	position: absolute;
	right: 0;
	bottom: -68px;
	z-index: 1000;
	padding: 1rem;
	background-color: #fff;
	box-shadow: 0 0 16px rgba(0, 0, 0, .15);
}

.app-nav .nav-item .search-form div {
	border: 1px solid #0A4A86;
	display: flex;
	justify-content: center;
	align-items: center;
}

.app-nav .nav-item .search-form input {
	outline: 0;
	border: unset;
	background-color: #fff;
	padding: .5rem;
	min-width: 250px;
}

.app-nav .nav-item .search-form a {
	outline: 0;
	border: unset;
	background-color: #0A4A86;
	color: #fff;
	text-decoration: #fff;
	height: 34px;
	width: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-dark .navbar-toggler {
	padding-right: 0;
}

@media (min-width: 992px) {
	.header .navbar-nav .nav-item .nav-link>i {
		display: none;
	}

	.submenu.mega-submenu>ul>li>a>i {
		display: none !important;
	}
}

@media (max-width: 991.98px) {
	.header::before {
		height: 100%;
		background-color: #fff;
	}

	.header .navbar-brand::before,
	.header .navbar-brand::after {
		border: unset;
	}

	.navbar-dark .navbar-toggler-icon {
		background-image: url(../img/hamberger.svg);
	}

	.app-nav {
		padding-top: 0;
	}

	.app-nav .nav-pop {
		position: absolute;
		top: 72px;
		width: 100%;
		left: 0;
		z-index: 999;
		background-color: var(--mb-menu-background);
		padding: 18px;
	}

	.header .navbar-nav .nav-item .nav-link {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.icons-search {
		display: none;
	}

	.app-nav .nav-item .search-form.d-none {
		display: block !important;
		padding: 0 !important;
		top: -54px;
		bottom: unset !important;
		right: 10% !important;
		background-color: unset;
		box-shadow: unset;
	}

	.app-nav .nav-item .search-form div {
		border: 1px solid #CBCBCB;
		box-sizing: border-box;
		border-radius: 5000px;
		overflow: hidden;
		background-color: transparent;
	}

	.app-nav .nav-item .search-form a {
		background-color: #fff;
		color: var(--primary-text-color);
	}

	.app-nav .nav-item .search-form input {
		min-width: 180px;
		width: 100%;
	}

	.header .navbar-nav .nav-item {
		display: block;
	}

	.header .navbar-nav .nav-item.menu-opened .nav-link>i {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 11px;
		height: 48px;
		width: 40px;
	}

	.header .navbar-nav .nav-item.menu-opened .nav-link>i::before {
		content: "\f077";
	}

	.header .navbar-nav .nav-item:not(.menu-opened) .nav-link>i {
		display: unset;
		position: absolute;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-size: 11px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	.header .navbar-nav .nav-item:not(.menu-opened) .nav-link>i::before {
		margin-right: 1rem;
	}

	.header .navbar-nav .nav-item:hover .nav-link,
	.header .navbar-nav .nav-item:active .nav-link,
	.header .navbar-nav .nav-item.active .nav-link,
	.header .navbar-nav .nav-item .nav-link {
		background: var(--mb-menu-lv1-color);
		position: relative;
		color: #fff;
		margin-bottom: 1px;
		text-transform: unset;
		padding-right: unset;
	}

	.app-nav .nav-item .submenu.mega-submenu {
		position: unset;
		opacity: 1;
		visibility: visible;
		padding: 0;
		transition: unset;
	}

	.header .navbar-nav .submenu.mega-submenu>ul {
		display: block;
	}

	.header .navbar-nav .submenu.mega-submenu>ul>li>a {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 1rem;
		font-size: 14px;
		line-height: 16px;
		padding-left: 2rem;
		background: var(--mb-menu-lv2-color);
		color: #fff;
		text-transform: unset;
		margin-bottom: unset;
		border-bottom: 1px solid var(--mb-menu-background);
	}

	.header .navbar-nav .submenu.mega-submenu>ul>li:not(.menu-opened-l1)>a>i {
		font-size: 11px;
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		justify-content: flex-end;
		padding-right: 1rem;
		align-items: center;
		height: 100%;
		width: 100%;
	}

	.header .navbar-nav .submenu.mega-submenu>ul>li.menu-opened-l1>a>i {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 11px;
		height: 48px;
		width: 40px;
	}

	.header .navbar-nav .submenu.mega-submenu>ul>li.menu-opened-l1>a>i::before {
		content: "\f077";
	}

	.header .navbar-nav .submenu.mega-submenu,
	.header .navbar-nav .submenu.mega-submenu .submenu-lv2,
	.header .navbar-nav .submenu.mega-submenu .submenu-lv3 {
		height: 0;
		opacity: 0;
		visibility: hidden;
	}

	.header .navbar-nav .submenu.mega-submenu .submenu-lv2>ul>li>a {
		position: relative;
		background-color: var(--mb-menu-lv3-color);
		padding: 1rem;
		color: #fff;
		font-size: 14px;
		line-height: 16px;
		padding-left: 3rem;
		width: 100%;
		margin-bottom: unset;
		border-bottom: 1px solid var(--mb-menu-background);
	}

	.header .navbar-nav .submenu.mega-submenu .submenu-lv3>ul>li>a {
		position: relative;
		background-color: var(--mb-menu-lv3-color);
		padding: 1rem;
		font-size: 14px;
		line-height: 16px;
		color: #fff;
		padding-left: 4rem;
		width: 100%;
		margin-bottom: unset;
		border-bottom: 1px solid var(--mb-menu-background);
	}

	.header .navbar-nav .submenu.mega-submenu .submenu-lv3>ul>li>a i {
		display: none;
	}

	.header .navbar-nav .nav-item.menu-opened>.submenu.mega-submenu {
		height: unset;
		opacity: 1;
		visibility: visible;
	}

	.header .navbar-nav .submenu.mega-submenu .menu-opened-l1>.submenu-lv2 {
		height: unset;
		opacity: 1;
		visibility: visible;
	}

	.header .navbar-nav .submenu.mega-submenu .menu-opened-l2>.submenu-lv3 {
		height: unset;
		opacity: 1;
		visibility: visible;
	}

	.header .navbar-nav .nav-item.d-lg-none {
		font: normal normal 14px/16px var(--primary-font-family);
	}

	.close-nav {
		display: block;
		width: 100%;
		text-align: center;
		padding: 1rem;
		color: var(--primary-color);
		background-color: #fff;
		font-weight: bold;
	}
}

@media (max-width: 991.98px) {
	.app-nav .nav-item .search-form {
		width: 40%;
	}

	.app-nav .nav-item .search-form a {
		padding-right: 8px;
	}

	.app-nav .nav-item .search-form.d-none {
		right: 12% !important;
	}
}

@media (max-width: 576.98px) {
	.header .navbar-brand {
		width: 70px;
		overflow: hidden;
	}

	.app-nav .nav-item .search-form {
		width: 50%;
	}

	.app-nav .nav-item .search-form input {
		width: 100%;
		min-width: unset;
	}

	.app-nav .nav-item .search-form a {
		padding-right: 8px;
	}

	.app-nav .nav-item .search-form.d-none {
		right: 70px !important;
	}

	.app-nav .nav-pop {
		left: -15px;
		width: calc(100% + 30px);
		/* height: calc(100vh - 72px);
		overflow-x: scroll; */
	}
}

/* end header */

/* trang chu */
.home-slider {
	position: relative;
	padding-bottom: 60px;
}

.home-slider .home-nav {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 9;
}

.home-slider .home-nav .nav {
	flex-wrap: wrap;
}

.home-slider .home-nav .nav li {
	flex: auto;
	text-align: center;
}

.home-slider .home-nav .nav .nav-item {
	border: 1px solid #DBDBDB;
	border-top: unset;
	border-bottom: unset;
	background-image: url(../img/navbg.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center center;
}

.home-slider .home-nav .nav .nav-link {
	position: relative;
	padding: 55px 0 32px;
}

.home-slider .home-nav .nav .nav-link h6 {
	font: normal bold 16px/22px var(--primary-font-family);
	color: var(--primary-color);
	margin-bottom: 10px;
}

.home-slider .home-nav .nav .nav-link p {
	font: normal normal 16px/22px var(--primary-font-family);
	color: #666565;
}

.home-slider .home-nav .nav .nav-link .img-container {
	position: absolute;
	top: -35px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 70px;
	height: 70px;
	background-color: #fff;
	border-radius: 5000px;
	overflow: hidden;
}

.home-slider .home-nav .nav .nav-link .img-container img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.home-catalog-slider {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	padding-top: 60px;
	padding-bottom: 60px;
}

.home-catalog-carousel .item.img-container {
	display: block;
	height: 0;
	padding-top: 120%;
	position: relative;
	overflow: hidden;
}

.home-catalog-carousel .item.img-container img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: 100%;
	transition: .6s;
}

.home-catalog-carousel .item.img-container .item-tilte {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 20%;
	bottom: 0;
	left: 0;
	background-color: #fff;
	transition: .3s;
}

.home-catalog-carousel .item.img-container .item-tilte * {
	font: normal normal 18px/25px var(--primary-font-family);
	text-align: center;
	color: var(--primary-text-color);
	transition: .3s;
}

/* .home-catalog-carousel .item.img-container:hover {
	box-shadow: 1px 1px 1px 1px #f0f0f0;
} */

.home-catalog-carousel .item.img-container:hover img {
	transform: translate(-50%, -50%) scale(1.2);
}

.home-catalog-carousel .item.img-container:hover .item-tilte {
	background-color: var(--secondary-text-color);
}

.home-catalog-carousel .item.img-container:hover .item-tilte * {
	color: #fff;
}

@media (max-width: 991.98px) {
	.home-slider {
		padding-bottom: 40px;
	}

	.home-slider .home-nav {
		position: unset;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 9;
	}

	.home-slider .home-nav .nav .nav-link .img-container {
		z-index: 8;
	}
}

@media (max-width: 575.98px) {
	.home-slider .home-nav .nav {
		display: block;
	}

	.home-slider .home-nav .nav .nav-item {
		margin-top: 50px;
	}

	.home-slider .home-nav .nav .nav-link .img-container {
		box-shadow: 0px 0px 5px 0px var(--secondary-text-color);
	}
}

/* end trang chu */

/* footer */
.footer {
	background-color: var(--footer-bg-color);
}

.footer-top {
	padding-top: 26px;
	padding-bottom: 21px;
}

.footer-top .img-container {
	margin-bottom: 17px;
}

.footer-top p,
.footer-top strong {
	font: normal normal 16px/24px var(--primary-font-family);
	color: var(--primary-text-color);
}

.footer-top .f-identity .img-container img{
	width: auto;
}

.footer-top .f-identity strong {
	display: inline-block;
	margin-bottom: 10px;
	font-weight: bold;
}

.footer-top .f-identity p {
	width: 75%;
}

.footer-top .footer-title {
	font: normal bold 16px/18px var(--primary-font-family);
	color: var(--primary-text-color);
	border-bottom: 1px solid var(--secondary-text-color);
	text-align: center;
	margin-bottom: 18px;
}

.footer-top .footer-title img {
	margin-bottom: -8px;
	margin-right: 20%;
}

.footer-top .footer-title span {
	display: inline-block;
	padding-bottom: 4px;
}

.footer-top .f-phone a {
	display: block;
	text-align: center;
	font: normal normal 16px/18px var(--primary-font-family);
	letter-spacing: 3px;
	color: var(--primary-text-color);
}

.footer-top .f-email {
	position: relative;
}

.footer-top .f-email a {
	display: block;
	text-align: center;
	font: normal normal 16px/18px var(--primary-font-family);
	letter-spacing: 3px;
	color: var(--primary-text-color);
}

.footer-top .f-email a.footer-button {
	position: absolute;
	bottom: 0;
	width: 75%;
	left: 50%;
	letter-spacing: normal;
	transform: translate(-50%, 0);
	padding: 12px 38px;
	background-color: var(--secondary-text-color);
	color: #fff;
	border-radius: 5000px;
}

@media (max-width: 1399.98px) {
	.footer-top .f-email a.footer-button {
		width: calc(100% - 30px);
	}
}

@media (max-width: 991.98px) {
	.footer-top .f-email a.footer-button {
		position: unset;
		left: 0;
		transform: unset;
		margin-top: 20px;
		width: 100%;
	}
}

.footer-bottom {
	font: normal normal 14px/16px var(--primary-font-family);
	color: #676767;
	text-align: center;
	padding: 12px 0;
	border-top: 1px solid #fff;
}

/* end footer */

.app-breadcrumb .breadcrumb {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: .75rem 0;
	margin-bottom: 1rem;
	margin-top: .75rem;
	list-style: none;
	background-color: transparent;
	border-radius: .25rem;
}

.app-breadcrumb .breadcrumb .breadcrumb-item a,
.app-breadcrumb .breadcrumb .breadcrumb-item span {
	font: normal normal 16px/18px var(--primary-font-family);
	color: #5A5A5A;
}

.app-breadcrumb .breadcrumb .breadcrumb-item span {
	color: var(--primary-color);
}

.app-breadcrumb .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
	content: "\f054";
	font-size: 12px;
	display: flex;
	align-items: center;
	color: #5A5A5A;
}

.section-title {
	display: block;
	font: normal bold 24px/30px var(--primary-font-family);
	color: var(--primary-text-color);
	margin-bottom: 24px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.section-title.m-border-bottom {
	position: relative;
}

.section-title.m-border-bottom::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 0;
	border-top: 1px solid #EBEBEB;
	left: 0;
	bottom: 5px;
}

.section-title span {
	background-color: #fff;
	padding-right: 1.5rem;
	z-index: 2;
}

.section-title a {
	font: normal normal 16px/18px var(--primary-font-family);
	color: var(--primary-color);
	background-color: #fff;
	padding-left: 1.5rem;
	z-index: 2;
}

.section-title a>i {
	font-size: 14px;
}

.section-title-secondary {
	display: inline-block;
	font: normal bold 30px/34px var(--primary-font-family);
	color: #3C3C3C;
	position: relative;
	padding-bottom: 12px;
	margin-bottom: 2rem;
}

.section-title-secondary::before{
	position: absolute;
	content: "";
	width: 70px;
	height: 0;
	bottom: 0;
	left: 0;
	border-bottom: 5px solid var(--secondary-text-color);
}
/* tin tuc */

.bg-news-page {
	background-color: #F0F0F0;
}

.page-banner {
	position: relative;
}

.page-banner .img-container {
	position: relative;
	width: 100%;
}

.page-banner .img-container img {
	width: 100%;
}

.page-title {
	display: block;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-transform: uppercase;
	transform: translate(0, -50%);
}

.page-title * {
	font: normal bold 36px/41px var(--primary-font-family);
	color: #fff;
}

.mb-20 {
	margin-bottom: 20px;
}

.featured-news-section .bg-white {
	background-color: #fff;
}

.featured-news-section .p-2rem {
	padding: 2rem;
}

.featured-news-section .featured-container {
	position: relative;
}

.featured-news-section .featured-container .feature-new-image {
	width: 65%;
}

.featured-news-section .featured-container .feature-new-image .img-container{
	width: 100%;
}

.featured-news-section .featured-container .feature-new-content {
	position: absolute;
	width: 45%;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	background-color: var(--primary-color);
}

.featured-news-section .featured-container .feature-new-content .content-container {
	padding: 36px 34px 60px 46px;
}

.featured-news-section .featured-container .feature-new-content .content-container .published-date {
	font: normal normal 16px/18px var(--primary-font-family);
	color: #fff;
	margin-bottom: 18px;
}

.featured-news-section .featured-container .feature-new-content .content-container .content-title {
	display: block;
	font: normal normal 21px/24px var(--primary-font-family);
	text-align: justify;
	color: #fff;
	margin-bottom: 27px;
}

.featured-news-section .featured-container .feature-new-content .content-container .content-description {
	font: normal normal 16px/22px var(--primary-font-family);
	text-align: justify;
	color: #fff;
	margin-bottom: 27px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.featured-news-section .featured-container .feature-new-content .content-container .btn-more {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font: normal normal 16px/21px var(--primary-font-family);
	background-image: url('../img/btnMore.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 162px;
	height: 39px;
}

.featured-news-section .featured-container .feature-new-content .content-container .btn-more span {
	padding-left: .5rem;
}

.featured-news-section .featured-container .feature-new-content .owl-nav {
	position: absolute;
	bottom: 0;
	right: 0;
}

.featured-news-section .featured-container .feature-new-content .owl-nav button:focus {
	outline: none;
}

.featured-news-section .featured-container .feature-new-content .owl-nav button {
	display: inline-block;
	padding: 10px 10px 12px !important;
}

.featured-news-section .featured-container .feature-new-content .owl-nav button.owl-prev {
	background-color: #0269E2;
}

.featured-news-section .featured-container .feature-new-content .owl-nav button.owl-next {
	background-color: #0256B9;
}

.general-news {
	width: 100%;
	position: relative;
}

.general-news a {
	display: block;
}

.general-news a .img-container {
	position: relative;
	height: 0;
	padding-top: 66.6667%;
	overflow: hidden;
	margin-bottom: 14px;
}

.general-news a .img-container img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	transition: .5s;
}


.general-news a .general-new-title {
	font: normal normal 16px/22px var(--primary-font-family);
	text-align: justify;
	color: var(--primary-text-color);
}

.general-news .published-date {
	margin: 18px 0;
	font: normal normal 16px/18px var(--primary-font-family);
	color: #8F8F8F;

}

.general-news .btn-more {
	font: normal normal 16px/21px var(--primary-font-family);
	display: flex;
	align-items: center;
	color: #8F8F8F;
}

.general-news:hover a .img-container img,
.general-news:focus a .img-container img {
	transform: translate(-50%, -50%) scale(1.2);
}

.general-news:hover a .general-new-title,
.general-news:focus a .general-new-title {
	font-weight: bold;
}

.general-news:hover .btn-more,
.general-news:focus .btn-more {
	color: var(--secondary-text-color);
}

.general-news:hover .btn-more .icons-arrow,
.general-news:focus .btn-more .icons-arrow {
	background-position: -30px -27px;
}

.featured-news-section .bg-white:last-child {
	margin-bottom: 54px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.featured-news-section .featured-container {
		display: flex;
	}

	.featured-news-section .featured-container .feature-new-image {
		width: 55%;
		position: relative;
	}

	.featured-news-section .featured-container .feature-new-content {
		position: unset;
		transform: unset;
		width: 45%;
	}

	.featured-news-section .featured-container .feature-new-image .img-container img {
		width: auto;
		height: 100%;
		object-fit: cover;
		object-position: 50% 50%;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.featured-news-section .featured-container {
		display: flex;
	}

	.featured-news-section .featured-container .feature-new-image {
		width: 45%;
		position: relative;
	}

	.featured-news-section .featured-container .feature-new-content {
		position: unset;
		transform: unset;
		width: 55%;
	}

	.featured-news-section .featured-container .feature-new-image .img-container img {
		width: auto;
		height: 100%;
		object-fit: cover;
		object-position: 50% 50%;
	}

	.general-container .general-news {
		margin-bottom: 1.5rem;
	}

	.general-container .col-12:nth-child(3) .general-news,
	.general-container .col-12:nth-child(4) .general-news {
		margin-bottom: 0;
	}
}

@media (max-width: 767.98px) {
	.featured-news-section .featured-container .feature-new-image {
		width: 100%;
		position: relative;
	}

	.featured-news-section .featured-container .feature-new-content {
		position: unset;
		transform: unset;
		width: 100%;
	}

	.general-container .general-news {
		margin-bottom: 1.5rem;
	}

	.general-container .col-12:nth-child(4) .general-news {
		margin-bottom: 0;
	}
}

@media (max-width: 575.98px) {
	.featured-news-section .featured-container .feature-new-content .content-container {
		padding: 18px 17px 50px 23px;
	}

	.bg-white.p-2rem.mb-20 {
		padding: 1rem;
	}
}

/* end tin tuc */

/* chi tiet tin tuc */
.news-details {
	padding-bottom: 48px;
}

.news-details-header .nd-post-title {
	font: normal bold 28px/32px var(--primary-font-family);
	text-align: justify;
	color: var(--primary-text-color);
	margin-bottom: 20px;
}

.news-details-header div {
	font: normal bold 16px/18px var(--primary-font-family);
	text-align: justify;
	color: #5A5A5A;
	margin-bottom: 18px;
}

.news-details-body {
	font: normal normal 16px/22px var(--primary-font-family);
	text-align: justify;
	color: var(--primary-text-color);
	border-bottom: 1px solid #E3E0E4;
}

.news-details-body * {
	margin-bottom: 10px;
	max-width: 100%;
}

.news-details-body .nd-short-description {
	font-style: italic;
	padding-left: .75rem;
	border-left: 3px solid var(--secondary-text-color);
	margin-bottom: 20px;
}

.news-details-body h1,
.news-details-body h2,
.news-details-body h3 {
	font: normal bold 21px/30px var(--primary-font-family);
	color: var(--secondary-text-color);
}

.news-details-body h4,
.news-details-body h5,
.news-details-body h6 {
	font: normal bold 18px/26px var(--primary-font-family);
	color: var(--primary-text-color);
}

.news-details-body ul li,
.news-details-body ol li {
	font: normal normal 16px/22px var(--primary-font-family);
	color: var(--primary-text-color);
}

.news-details-body ul li::before,
.news-details-body ol li::before {
	content: "-";
	margin-right: .5rem;
}

.news-details-body .post-origin {
	text-align: right;
	padding: 22px 0;
	font-weight: bold;
}

.news-details.spdv .news-details-body h1,
.news-details.spdv .news-details-body h2,
.news-details.spdv .news-details-body h3 {
	font: normal bold 30px/34px var(--primary-font-family);
	color: var(--primary-text-color-text-color);
}

.news-details.spdv .news-details-body h4,
.news-details.spdv .news-details-body h5,
.news-details.spdv .news-details-body h6 {
	font: normal bold 21px/34px var(--primary-font-family);
	color: var(--primary-text-color-text-color);
}

.news-details-footer {
	padding: 19px 0;
	border-bottom: 1px solid #E3E0E4;
	margin-bottom: 30px;
}

.news-details-footer .connect {
	display: flex;
	justify-content: start;
	align-items: center;
	font: normal normal 16px/18px var(--primary-font-family);
	color: var(--primary-text-color);
}

.news-details-footer .connect .iconconnect {
	width: 44px;
	height: 44px;
	border-radius: 5000px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 2rem;
}

.news-details-footer .connect .iconconnect.fb {
	background: #134B88;
}

.news-details-footer .connect .iconconnect.gg {
	background: #FF4A58;
}

.news-details-footer .connect .iconconnect.em {
	background: #FFA013;
}

.news-details.spdv .contenttd{
	border-top: unset;
	border-bottom: 1px solid #E2E2E2;
}

.search-form.d-block div {
	display: flex;
	border: 1px solid var(--primary-color);
}

.search-form.d-block input:focus {
	outline: unset;
}

.search-form.d-block input {
	width: calc(100% - 46px);
	border: none;
	outline: unset;
	font: normal normal 16px/18px var(--primary-font-family);
	color: #918D8D;
	padding-left: .5rem;
}

.search-form.d-block a[type="submit"] {
	width: 46px;
	height: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: #fff;
	background-color: var(--primary-color);
}

.right-nav {
	margin-bottom: 2rem;
}

.right-nav.cred .nav-item.opened .nav-link{
	color: var(--secondary-text-color);
}

.right-nav .nav-item .nav-link {
	font: normal normal 16px/18px var(--primary-font-family);
	color: var(--primary-text-color);
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
	padding-right: 52px;
	align-items: center;
	border-bottom: 1px solid #D0D0D0;
	position: relative;
}

.right-nav .nav-item.opened .nav-link {
	font-weight: bold;
	border-bottom: 4px solid var(--secondary-text-color);
}

.right-nav .nav-item:not(.opened) .nav-link {
	font-weight: normal;
	border-bottom: 1px solid #D0D0D0;
}

.right-nav .nav-item.opened .sub-nav {
	background-color: #F3F3F3;
	padding: .5rem 0;
	border-bottom: 1px solid #D0D0D0;
	visibility: visible;
	opacity: 1;
	height: unset;
}

.right-nav .nav-item:not(.opened) .sub-nav {
	background-color: #F3F3F3;
	padding: .5rem 0;
	border-bottom: 1px solid #D0D0D0;
	visibility: hidden;
	opacity: 0;
	height: 0;
	padding: 0;
	border-bottom: unset;
}

.right-nav .nav-item .sub-nav ul li a {
	display: block;
	padding: .5rem 0 .4rem;
	font: normal normal 16px/18px var(--primary-font-family);
	color: var(--primary-text-color);
}

.right-nav .nav-item .nav-link .angle-open {
	position: absolute;
	width: 54px;
	height: 100%;
	display: flex;
	top: 0;
	right: 0;
	justify-content: center;
	align-items: center;
}

.right-nav .nav-item:not(.opened) .nav-link .angle-open::before {
	content: "\f105";
}

.right-nav .nav-item .sub-nav ul li a.active {
	color: var(--secondary-text-color);
}

.hot-news-section .hns-title {
	background: var(--secondary-text-color);
	color: #fff;
	font: normal bold 24px/28px var(--primary-font-family);
	text-align: center;
	padding: .75rem;
}

.hot-news-section .news {
	padding: 11px 0;
	position: relative;
}

.hot-news-section .news::before {
	position: absolute;
	content: "";
	width: calc(100% - 30px);
	border-bottom: 0;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0);
	border-bottom: 1px solid #97C7FF;
}

.hot-news-section .news .img-container {
	height: 0;
	padding-top: 66.6667%;
	position: relative;
}

.hot-news-section .news .img-container img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	object-position: 50% 50%;
}

.hot-news-section .news-title {
	font: normal normal 16px/22px var(--primary-font-family);
	color: var(--primary-text-color);
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
/* end chi tiet tin tuc */

/* san pham va dich vu */
.left-nav {
	margin-bottom: 2rem;
}

.left-nav .nav-item .nav-link {
	font: normal normal 16px/18px var(--primary-font-family);
	color: var(--primary-text-color);
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #D0D0D0;
	position: relative;
}

.left-nav .nav-item .nav-link .index {
	position: absolute;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 52px;
	height: 100%;
	border-right: 1px solid #fff;
}

.left-nav .nav-item .nav-link .title {
	margin-left: 52px;
	margin-right: 52px;
	padding-left: 1rem;
}


.left-nav .nav-item.opened .nav-link {
	font-weight: bold;
	color: #fff;
	background-color: var(--primary-color);
}

.left-nav .nav-item:not(.opened) .nav-link {
	font-weight: bold;
	border-bottom: 1px solid #D0D0D0;
	background: #ECF5FF;
	color: var(--primary-color);
}

.left-nav .nav-item:not(.opened) .nav-link .angle-open::before{
	content: "\f105";
}

.left-nav .nav-item.opened .sub-nav {
	background-color: #F3F3F3;
	border-bottom: 1px solid #D0D0D0;
	visibility: visible;
	opacity: 1;
	height: unset;
}

.left-nav .nav-item:not(.opened) .sub-nav {
	background-color: #F3F3F3;
	border-bottom: 1px solid #D0D0D0;
	visibility: hidden;
	opacity: 0;
	height: 0;
	padding: 0;
	border-bottom: unset;
}

.left-nav .nav-item .sub-nav ul > li > a {
	display: block;
	padding: 1rem calc(52px + 1rem) 17px;
	font: normal normal 16px/18px var(--primary-font-family);
	color: var(--primary-text-color);
	background-color: #fff;
	border-bottom: 1px solid #D0D0D0;
	position: relative;
}

.left-nav .nav-item .nav-link .angle-open {
	position: absolute;
	width: 54px;
	height: 100%;
	display: flex;
	top: 0;
	right: 0;
	justify-content: center;
	align-items: center;
}

.left-nav .have-subnav:not(.opened) .angle-open-lv2::before{
	content: "\f105";
}

.left-nav .have-subnav .angle-open-lv2 {
	position: absolute;
	width: 54px;
	height: 100%;
	display: flex;
	top: 0;
	right: 0;
	justify-content: center;
	align-items: center;
}

.left-nav .nav-item .sub-nav ul li a.active {
	color: var(--secondary-text-color);
}

.left-nav .nav-item .sub-nav .have-subnav.opened > a{
	background-color: #EEEEEE;
	border-bottom: 1px solid #D0D0D0;
}

.left-nav .nav-item .sub-nav .have-subnav:not(.opened) .sub-nav-2{
	visibility: hidden;
	opacity: 0;
	height: 0;
}

.left-nav .nav-item .sub-nav .have-subnav.opened .sub-nav-2{
	visibility: visible;
	opacity: 1;
	height: unset;
}
/* end san pham va dich vu */

/* chi tiet san pham dich vu */
.news-catalog-section .hns-title {
	background: var(--secondary-text-color);
	color: #fff;
	font: normal bold 24px/28px var(--primary-font-family);
	text-align: center;
	padding: .75rem;
}

.news-catalog-section .news {
	padding: 20px 0;
	position: relative;
}

.news-catalog-section .news::before {
	position: absolute;
	content: "";
	width: calc(100% - 30px);
	border-bottom: 0;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0);
	border-bottom: 1px solid #D0D0D0;
}

.news-catalog-section .news .img-container {
	height: 0;
	padding-top: 66.6667%;
	position: relative;
	width: 100%;
}

.news-catalog-section .news .img-container img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	object-position: 50% 50%;
}

.news-catalog-section .news-title {
	text-align: justify;
	font: normal bold 18px/25px var(--primary-font-family);
	color: var(--primary-text-color);
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 10px;
}

.news-catalog-section .news-short-desc {
	font: normal normal 16px/18px var(--primary-font-family);
	color: var(--primary-text-color);
	margin-bottom: 14px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.news-catalog-section .nd-post-date {
	display: inline-block;
	font: normal normal 16px/18px var(--primary-font-family);
	color: #8F8F8F;
	margin-bottom: 17px;
}

.news-catalog-section .btn-more {
	font: normal normal 16px/21px var(--primary-font-family);
	display: flex;
	align-items: center;
	color: var(--secondary-text-color);
}

.news-catalog-section .btn-more .icons-arrow {
	background-position: -30px -27px;
}

@media (max-width: 991.98px) {
	.row-rev > .container > .row {
		flex-direction: column-reverse;
	}
}

@media (max-width: 767.98px) {
	.news-catalog-section .news-title {
		margin-top: 1rem;
	}
}

.news-details-pagination {
	margin-top: 26px;
}

.app-pagination {
	overflow: auto;
}

.app-pagination .pagination {
	justify-content: center;
	align-items: center;
}

.app-pagination .pagination .hidden{
	display: none;
}

.app-pagination .pagination a{
	margin: 0 2px;
	border: 1px solid #C4C4C4;
	font: normal normal 16px/19px var(--primary-font-family);
	padding: .5rem .75rem;
	text-align: center;
	color: var(--primary-color);
	display: inline-block;
	white-space: nowrap;
} 

.app-pagination .pagination a:hover,
.app-pagination .pagination a:focus,
.app-pagination .pagination .page.active a{
	background-color: var(--primary-color);
	color: #fff;
	border: 1px solid var(--primary-color);
}
/* end chi tiet san pham dich vu */

/* trang quan he co dong */
.news-details-list .item-group:not(:last-child) {
	border-bottom: unset;
}

.news-details-list .item-group .item-number {
	background-color: #EBEBEB;
	color: var(--primary-text-color);
	padding: 0 6px;
}

.news-details-list .item-group:focus .icons-downloadable ,
.news-details-list .item-group:hover .icons-downloadable {
	background-position: -30px -46px;
	width: 18px;
	height: 18px;
	display: inline-block;
}

.news-details-list .item-group:focus .btn.btn-show,
.news-details-list .item-group:hover .btn.btn-show  {
	background-color: var(--secondary-text-color);
}

.news-details-list .item-group:focus .item-number,
.news-details-list .item-group:hover .item-number {
	background-color: var(--secondary-text-color);
	color: #fff;
}

.news-details-list .item-group .item-number p {
	text-align: center;
}

.news-details-list .item-group .item-number small {
	text-align: center;
	font: normal normal 16px/22px var(--primary-font-family);
}
/* end trang quan he co dong */

/* gioi thieu */
.introduce-section {
	padding: 42px 0 90px;
}

.introduce-section .intro-content {
	z-index: 1;
}

.introduce-section .intro-content * {
	font: normal normal 16px/22px var(--primary-font-family);
	text-align: justify;
	color: var(--primary-text-color);
	margin-bottom: 1rem;
}

.introduce-section .intro-content .c * {
	margin-bottom: 30px;
}

.introduce-section .intro-content .nav.nav-tabs {
	border-bottom: unset;
	margin-bottom: 0;
}

.introduce-section .intro-content .nav.nav-tabs .nav-item .nav-link {
	border: unset;
	border-radius: unset;
	font: normal bold 18px/21px var(--secondary-font-family);
	text-align: center;
	color: #fff;
	padding: 12px 6px;
	position: relative;
}

.introduce-section .intro-content .nav.nav-tabs .nav-item .nav-link.active::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	bottom: -16px;
	left: 50%;
	transform: translate(-50%, 0);
	border-top: 16px solid;
	border-left: 9px solid  transparent;
	border-right: 9px solid transparent;
}

.introduce-section .intro-content .nav.nav-tabs .nav-item:nth-child(1) .nav-link {
	background-color: var(--primary-color);
}

.introduce-section .intro-content .nav.nav-tabs .nav-item:nth-child(1) .nav-link.active::before {
	border-top-color: var(--primary-color);
} 

.introduce-section .intro-content .nav.nav-tabs .nav-item:nth-child(2) .nav-link {
	background-color: var(--secondary-color)
}

.introduce-section .intro-content .nav.nav-tabs .nav-item:nth-child(2) .nav-link.active::before {
	border-top-color: var(--secondary-color)
} 

.introduce-section .intro-content .nav.nav-tabs .nav-item:nth-child(3) .nav-link {
	background-color: var(--light-secondary-color)
}

.introduce-section .intro-content .nav.nav-tabs .nav-item:nth-child(3) .nav-link.active::before {
	border-top-color: var(--light-secondary-color);
} 

.introduce-section .img-container {
	position: absolute;
	z-index: -1;
}

.introduce-section .img-container img {
	width: auto;
	float: right;
}

@media (max-width: 991.98px) {
	.introduce-section .img-container {
		position: unset;
	}

	.introduce-section .img-container img {
		max-width: 100%;
	}
}

.history-section {
	padding: 43px 0 90px;
	background-image: url(../img/history.jpg);
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
} 

.history-section .section-title-secondary {
	color: #fff;
	margin-bottom: 49px;
}

.history-section .history-content {
	padding-top: 120px;
	position: relative;
}

.history-section .history-content > .img-container {
	text-align: center;
}

.history-section .history-content > .img-container > img {
	width: 50%;
	transform: translate(25%, 0);
}

.cylinder {
	position: absolute;
	top: 0;
	right: 0;
	/* overflow: hidden; */
	margin: 0 auto;
	width: 120px;
	height: 90px;
	border-radius: 60px/30px;
	background-color: rgba(160, 160, 160, 0.5);
}

.cylinder:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 120px;
	height: 70px;
	border-radius: 60px/30px;
	background-color: rgba(160, 160, 160, 0.2);
	content: '';
}

.cylinder.logo-cylinder .img-container {
	text-align: center;
}

.cylinder.logo-cylinder{
	background-image: linear-gradient(90deg, #F0EFEF 0%, #CECECE 100%, #FFFFFF 100%);
	right: 18%;
    top: 30%;
}

.cylinder.logo-cylinder::before {
	background-image: linear-gradient(90deg, #C1C4C5 0.07%, #FDFEFF 100.02%);
}

.cylinder.logo-cylinder .img-container img {
	width: 45%;
	transform: translate(0, 5px);
}

.cylinder.cylinder-step-1{
	background-image: linear-gradient(90deg, #3AEF8C 0.03%, #08A046 100.01%);
	right: 35%;
    top: 25%;
}

.cylinder.cylinder-step-1::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    top: 25%;
    left: 5px;
    border-radius: 50%;
    background-color: white;
}

.cylinder.cylinder-step-1::before {
	background-image: linear-gradient(90deg, #88FFC0 -0.01%, #1DDD6B 100%);
}

.cylinder.cylinder-step-2{
	background-image: linear-gradient(90deg, #FFAF3B 0.01%, #FF7B22 100.01%);
	right: 33%;
    top: 53%;
}

.cylinder.cylinder-step-2::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    top: 25%;
    right: 5px;
    border-radius: 50%;
    background-color: white;
}

.cylinder.cylinder-step-2::before {
	background-image: linear-gradient(90deg, #FFE266 -0.01%, #FFA91F 100%);
}

.cylinder.cylinder-step-3{
	background-image: linear-gradient(90deg, #FF73D7 0.06%, #8827C1 99.98%);
	right: 50%;
    top: 48%;
}

.cylinder.cylinder-step-3::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    top: 25%;
    left: 5px;
    border-radius: 50%;
    background-color: white;
}

.cylinder.cylinder-step-3::before {
	background-image: linear-gradient(90deg, #FFA1E0 0%, #B752FF 100%);
}

.cylinder.cylinder-step-4{
	background-image: linear-gradient(90deg, #FF6C8F 0.03%, #E5258E 99.99%);
	right: 48%;
    top: 76%;
}

.cylinder.cylinder-step-4::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    top: 25%;
    left: 5px;
    border-radius: 50%;
    background-color: white;
}

.cylinder.cylinder-step-4::before {
	background-image: linear-gradient(90deg, #FF99AD 0%, #FF48A4 100%);
}

.cylinder p {
	font: normal bold 36px/38px var(--primary-font-family);
	color: #fff;
	text-align: center;
	transform: scale(.9) rotate(36deg)skew(-30deg,0) translate(0,0); 
	-webkit-transform: scale(.9) rotate(36deg)skew(-30deg,0) translate(0,0);
	-moz-transform: scale(.9) rotate(36deg)skew(-30deg,0) translate(0,0);
	transform-origin: 50% 50%; 
}

.cylinder p * {
	display: block;
}

.cylinder p .bb {
	position: relative;
	font: normal bold 36px/38px var(--primary-font-family);
	color: #fff;
	padding-bottom: 4px;
	margin-bottom: 4px;
	text-align: center;
}

.cylinder p .bb::before {
	position: absolute;
	content: "";
	width: 38px;
	height: 0;
	border-bottom: 3px solid #fff;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.cylinder p small {
	position: relative;
	font: normal normal 16px/19px var(--primary-font-family);
	color: #fff;
	text-align: center;
}

.cylinder .cylinder-content {
	position: absolute;
	font: normal normal 16px/23px var(--secondary-font-family);
	text-align: justify;
	color: #fff;
	width: 300px;
}

.cylinder .cylinder-content::before {
	content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    top: .5rem;
    left: -1.5rem;
    border-radius: 50%;
    background-color: white;
}

.cylinder.cylinder-step-1 .cylinder-content {
	top: -175px;
    left: 50px;
}

.cylinder.cylinder-step-2 .cylinder-content {
	top: 175px;
    left: 160px;
}

.cylinder.cylinder-step-4 .cylinder-content::before,
.cylinder.cylinder-step-3 .cylinder-content::before {
	top: .5rem;
	right: -1.5rem;
	left: unset;
}

.cylinder.cylinder-step-3 .cylinder-content {
	top: -100px;
    left: -500px;
}

.cylinder.cylinder-step-4 .cylinder-content {
	top: 0;
    left: -540px;
}

.cylinder .line {
	width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.cylinder.cylinder-step-1 .line::before {
	content: "";
	position: absolute;
	width: 0;
	bottom: 75%;
    left: 7px;
	height: 187px;

	 
	border-left: 1px solid #fff;
}

.cylinder.cylinder-step-1 .line::after {
	content: "";
	position: absolute;
	width: 18px;
	top: -175px;
    left: 50px;
	height: 0;
	border-top: 1px solid #fff;
}



/* .structure-section {

} */
/* end gioi thieu */