.homenext {
  padding: 15px 0 15px 0;
  display: flex;
  justify-items: start;
  align-items: center; }
  .homenext .iconnext {
    padding: 0 12px 0 12px; }
  .homenext .homeitem {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #5A5A5A; }
    .homenext .homeitem:last-child {
      color: #00387A; }
    .homenext .homeitem:hover {
      text-decoration: none; }

.titletext {
  padding-bottom: 18px; }
  .titletext p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #494D52; }

.contenttd {
  border-top: 1px solid #E2E2E2;
  padding: 15px 0 15px 0; }
  .contenttd .khung-date {
    width: 93%;
    height: 68px;
    background: #CA2026;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding: 9px;
    line-height: 26px; }
    .contenttd .khung-date p {
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 28px; }
    .contenttd .khung-date span {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px; }
  .contenttd .texttitle a {
    display: block;
    text-decoration: none;
    color: #CA2026;
    padding: 7px 0 16px 0;
    transition: all 0.8s;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px; }
    .contenttd .texttitle a:hover {
      color: #202dcaf2; }
  .contenttd .texttitle ul {
    display: flex; }
    .contenttd .texttitle ul li {
      color: #494D52;
      font-size: 16px;
      font-family: Arial;
      border-right: 1px solid #494D52;
      padding: 0 23px 0 23px; }
      .contenttd .texttitle ul li:first-child {
        padding-left: 0; }
      .contenttd .texttitle ul li:last-child {
        border: none; }
  .contenttd .btn-ut {
    color: #fff;
    background: #CA2026;
    border-radius: 39px;
    padding: 12px;
    transition: all 0.8s;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; }
    .contenttd .btn-ut:hover {
      background: #42ca20; }

.phantrang {
  border-top: 1px solid #E2E2E2;
  padding: 25px 0 25px 0;
  color: #00387A; }
  .phantrang .item-number {
    padding-right: 5px; }

.modal-content {
  font-family: Arial, Helvetica, sans-serif; }
  .modal-content .modal-header {
    border-bottom: none; }
    .modal-content .modal-header .logo {
      background: #CA2026;
      border-radius: 5px;
      padding: 10px;
      width: 34%; }
      .modal-content .modal-header .logo img {
        width: 95%; }
    .modal-content .modal-header .close {
      padding: 0rem 1rem; }
      .modal-content .modal-header .close span {
        font-size: 45px; }
  .modal-content .modal-body .content-modal {
    line-height: 28px; }
    .modal-content .modal-body .content-modal span {
      font-family: Arial, Helvetica, sans-serif;
      color: #494D52; }
    .modal-content .modal-body .content-modal p {
      font-weight: bold;
      font-size: 17px;
      font-family: Arial, Helvetica, sans-serif; }
    .modal-content .modal-body .content-modal .form-control {
      padding: 0;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #BFBABA; }
      .modal-content .modal-body .content-modal .form-control:focus {
        box-shadow: none; }
    .modal-content .modal-body .content-modal label {
      color: #494D52;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px; }
  .modal-content .modal-body .profile input::-webkit-input-placeholder {
    font-size: 11px;
    font-style: italic; }
  .modal-content .modal-body .profile .btn {
    width: 100%;
    padding: .375rem .5rem; }
    .modal-content .modal-body .profile .btn img {
      width: 23%; }
    .modal-content .modal-body .profile .btn span {
      font-size: 15px;
      padding-left: 6px; }
  .modal-content .modal-body .profile .uploadfile {
    background: #00387A;
    color: #fff; }
  .modal-content .modal-footer {
    border-top: none; }
    .modal-content .modal-footer .btn-submit {
      background: #CA2026;
      border-radius: 39px;
      padding: 12px 33px;
      color: #fff; }

/*# sourceMappingURL=tuyendung.css.map */
