$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-big: 1280px;
$mobile-small: 320px;

@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop-big {
    @media (min-width: #{$desktop-width}) and (max-width: #{$desktop-big - 1px}) {
        @content;
    }
}
@mixin mobile-small {
    @media (max-width: #{$mobile-small}) {
        @content;
    }
}

.titletext {
    padding-bottom: 18px;
    p {
        font: {
            weight: bold;
            family: Arial, Helvetica, sans-serif;
            size: 30px;
        }

        color: #494D52;
    }
}

.content-td {
    border-top: 1px solid #E2E2E2;
    padding: 15px 0 15px 0;

    &:hover {

        .khung-date,
        .btn-ut {
            background: #CA2026;
            color: #fff;
        }

        .texttitle {
            a {
                color: #CA2026;
            }
        }
    }

    .khung-date {
        width: 70px;
        height: 68px;
        background: #EBEBEB;
        border-radius: 5px;
        color: #494D52;
        text-align: center;
        padding: 9px;
        line-height: 26px;

        p {
            font: {
                weight: bold;
                family: Arial, Helvetica, sans-serif;
                size: 28px;
            }
        }

        span {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }
    }

    .texttitle {
        a {
            display: block;
            text-decoration: none;
            color: #494D52;
            padding: 7px 0 16px 0;
            text-align: justify;

            font: {
                weight: bold;
                family: Arial, Helvetica, sans-serif;
                size: 21px;
            }
            @include mobile-small{
                padding-left: 15px;
            }
            @include mobile {
                font-size: 17px;
            }

            @include tablet {
                padding-bottom: 7px;
                padding-top: 0;
            }
        }

        ul {
            display: flex;
            li {
                color: #494D52;
                font-size: 16px;
                font-family: Arial;
                border-right: 1px solid #494D52;
                padding: 0 23px;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    border: none;
                }
                @include desktop-big{
                    font-size: 15px;
                    padding: 0 13.5px;
                }
                @include tablet {
                    font-size: 13px;
                    padding: 0 13px 0 13px;
                }
            }

            @include mobile {
                display: none;
            }
        }

        @include mobile {
            padding-left: 0px;
        }

        @include tablet {
            padding-left: 35px;
        }
    }

    .btn-ut {
        color: #494D52;
        background: #fff;
        border-radius: 39px;
        border: 1px solid #8F8F8F;
        padding: 12px;

        font: {
            weight: bold;
            family: Arial, Helvetica, sans-serif;
            size: 16px;
        }   
        @include mobile {
            padding: .375rem .75rem;
            font-size: 12px;
        }

        @include tablet {
            margin-top: 10px;
            padding: .375rem .75rem;
        }
        @include desktop-big{
            font-size: 13px;
        }
    }

}

.modal-content {
    font-family: Arial, Helvetica, sans-serif;

    .modal-header {
        border-bottom: none;

        .logo {
            background: #CA2026;
            border-radius: 5px;
            padding: 10px;
            width: 34%;

            img {
                width: 95%;
            }
        }

        .close {
            padding: 0.5rem 1rem;
            span {
                font-size: 45px;
            }
        }
    }

    .modal-body {
        .content-modal {
            line-height: 28px;

            span {
                font-family: Arial, Helvetica, sans-serif;
                color: #494D52;
            }

            p {
                font-weight: bold;
                font-size: 17px;
                font-family: Arial, Helvetica, sans-serif;
            }

            .input-group {
                span {
                    position: absolute;
                    top: 22%;
                    right: 0;
                    z-index: 1;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .form-control {
                padding: 0;
                border: none;
                border-radius: 0;
                border-bottom: 1px solid #BFBABA;

                &:focus {
                    box-shadow: none;
                    z-index: 0;
                }
            }

            label {
                color: #494D52;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
            }
        }

        .profile {
            input::-webkit-input-placeholder {
                font-size: 11px;
                font-style: italic;
            }

            .btn {
                width: 100%;
                padding: .375rem .5rem;

                img {
                    width: 23%;

                    @include mobile {
                        width: 18%;
                    }
                }

                span {
                    font-size: 15px;
                    padding-left: 6px;
                }
            }

            .uploadfile {
                background: #00387A;
                color: #fff;
            }
        }
    }

    .modal-footer {
        border-top: none;

        .btn-submit {
            background: #CA2026;
            border-radius: 39px;
            padding: 12px 33px;
            color: #fff;
        }
    }

    .adress-work {
        position: absolute;
        top: 43.6%;
        width: 100%;
        padding: 0 15px;

        @include mobile {
            top: 42%;
        }

        .card-body {
            padding: 0;

            ul {
                li {
                    padding: 15px;
                    border-bottom: 1px solid #cccccc5c;

                    &:hover {
                        background-color: #cccccc21;
                    }
                }
            }
        }

    }
}